.user-activity-sub-card{
    width: 250px;
    height: 80px;
    background-color: #f8f7f3;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.user-activity-sub-card .activity-icon{
    width: 30%;
    height: 100%;
    display: grid;
    place-items: center;
}

.user-activity-sub-card .activity-icon img{
    width: 75%;
    height: 75%;
}

.user-activity-sub-card .activity-info > h4{
    /* line-height: 10px; */
    margin: 0;
    margin-left: 1rem;
    color: rgb(40, 40, 39);
}

.user-order-sub-card{
    width: 95%;
    height: 50px;
    background-color: rgb(248, 243, 243);
    margin: 10px auto;
    border-radius: 5px;
}

.order-card-header{
    /* width: 93%; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 600;
}

.user-order-sub-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-order-sub-card .order-status{
    text-align: center;
    width: 25% ;
    display: grid;
    place-items: center;

}

.order-card-header span ,.user-order-sub-card div{
    width: 25% ;
    text-align: center;
}

.user-setting-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
}

.user-info-box, .change-password{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
}

.user-info-box form, .change-password form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    /* justify-content: center; */
}

.user-info-box form input, .change-password form input{
    width: 90%;
    margin: auto;
    border: 1.5px solid rgb(143, 141, 141);
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
}

.user-info-box form button, .change-password form button{
    font-size: 17px;
    width: 40%;
    color: #f8f7f3;
    font-weight: 500;
    margin-left: 1rem;
    background-color: var(--green);
}
.change-password form button{
    background-color: #cea917;
}

.change-password form {
    display: flex;
    flex-direction: column;
}